{% extends 'groups/group_base.html' %}
{% block pregroup %}
<h2>{{ group.name }}</h2>
<hr>
<h4>Member Count: {{ group.members.count }}</h4>

<div class="content">
    {% if user in group.members.all %}
        <a href="{% url 'group:leave' slug=group.slug %}"
        class="btn btn-outline-danger">Leave</a>
    {% else %}
        <a href="{% url 'group:join' slug=group.slug %}" 
        class="btn btn-outline-success">Join Us!</a>
    {% endif %}
</div>
{% endblock %}

{% block group_content %}{% endblock %}
